<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Welcome to {{title}}!
  </h1>
  <p>There are {{totalCarParts()}} total car parts in stock.</p>
  <ul>
    <li *ngFor="let carpart of carparts">
      <h2>{{carpart.name | uppercase}}</h2>
      <p>{{carpart.description}}</p>
      <p>{{carpart.price | currency:'CAD':true}}</p>
      <!-- <p *ngIf="carpart.inStock > 0">{{carpart.inStock}}  in stock </p>
      <p *ngIf="carpart.inStock === 0">Out of Stock</p> -->
      <!-- <p>{{carpart.inStock}}  in stock </p> -->
      <p *ngIf="carpart.inStock === 0; then PartOutstock else PartInstock "></p>
      <ng-template #PartInstock>{{carpart.inStock}}  in stock</ng-template>
      <ng-template #PartOutstock>Out of Stock</ng-template>
    </li>
  </ul>
</div>
